tmp
data/3D_LLM
data/Nr3D
data/scannetpp_data_download
data/ScanQA
data/ScanRefer
data/scannet/scannet_data
data/scannet/scannet_data_w_sm_obj
data/scannet/scannet_data_dense
data/scannet/scannet_data_w_sm_obj_dense
results
pretrained
ckpts
*.pyc
*build
*.egg-info
bert-base-embedding
*.egg
*.so
src/openscene/data
src/openscene/demo
src/openscene/results/
src/openscene/ckpts
None
.vscode